{% extends 'base.html' %}
{% block content %}

{% if error %}
{{ error }}
{% endif %}

<h1> Sign up! </h1>
<div>
<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
	<div class = "row">
	<div class = "col-5">
	First Name: <br>
	<input type="text" name="firstname"/>
	</div>
	<div class = "col-5">
	Last Name:<br>
	<input type="text" name="lastname"/>
	</div>
	</div>
	<div class = "row">
	<div class = "col-5">
	Username: <br>
	<input type="text" name="username" />
	</div>
	<div class = "col-5">
	Email : <br>
	<input type="Email" name="emailid"/>
	</div>
	</div>
	<div class = "row">
	<div class = "col-5">
	Password: <br>
	<input type="Password" name="password1" />
	</div>
	<div class = "col-5">
	Confirm Password: <br>
	<input type="Password" name="password2" />
	</div>
	</div>
	<p>
	<div class="row">
	<div class = "col-12">	
	<input class="btn btn-primary" type="submit" value="Sign me Up">
	</div>
	</div>
</form>
</div>




{% endblock %}
